.App {
  background: linear-gradient(#3EC6C3, #222222);
  box-sizing: border-box;
  min-height: 100vh;
  outline: none;
  padding-top: 10px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2, p {
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  background-color: #222222;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 60vh;
  min-width: 300px;
  padding: 20px;
  width: 60vw;
}